.root {
    -fx-font-family: system;
    -fx-font-size: 15px
}
.parent{
    -fx-background-color: #303138;
}

.close-btn{
    -fx-background-color: transparent;
}
.close-btn:hover{
    -fx-background-color: #E81123;
}

.min-btn{
    -fx-background-color: transparent;
}
.min-btn:hover{
    -fx-background-color: #171717;
}
.txtfield{
    -fx-background-color: #3B4148;
    -fx-background-radius: 0px;
    -fx-prompt-text-fill: #ADADAD;
    -fx-text-fill: #FFFFFF;
}
.txtfield:focused, .date-picker:focused, .date-picker > .text-field:focused, .text-area:focused {
    -fx-background-color:  #292C34;
    -fx-background-radius: 0px;
    -fx-prompt-text-fill: #ADADAD;
    -fx-text-fill: #FFFFFF;
}
.login-btn{
    -fx-background-color: tomato;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 0px;
}

.date-picker {
    -fx-background-color: #3B4148;
    -fx-text-fill: #c2c2c2;
    -fx-background-radius: 0px;
    -fx-border-bottom: 0px;
}

.date-picker > .text-field {
    -fx-prompt-text-fill: #ADADAD;
    -fx-control-inner-background: #3B4148;
    -fx-control-out-background: #3B4148;
    -fx-border-bottom: 0px;
}

.date-picker > .arrow-button {
    -fx-background-color:  #363b41; /* Url of the icon */
}

.cinza {
    -fx-text-fill: #C2C2C2;
    -fx-fill: #c2c2c2;
}
.branco {
    -fx-text-fill: #FFFFFF!important;
    -fx-fill: #FFFFFF!important;
}

.glyph-icon {
    -fx-text-fill: #C2C2C2;
    -fx-fill: #c2c2c2;
    -fx-font-size: 25.0;
}
/*ESTILIZAÇÃO DO MENU PRINCIPAL*/
.context-menu {
    -fx-background-color: #3B4148;
}
.menu-bar {
    -fx-background-color: #303138;
}
.menu:hover {
    -fx-background-color: #3B4148;
}
.menu:showing, .menu-item.showing {
    -fx-background-color: #3B4148;
}
.menu-item:focused{
    -fx-background-color: #303138;
}
.menu-bar .label {
    -fx-text-fill: #c2c2c2;
}
.menu-icons {
    -fx-text-fill: red;
    -fx-background-color: red;
}
/* ESTILO CHECKBOX*/
.check-box:focused .box {
    -fx-background-color: #c2c2c2;
}
/*Estilo TextArea*/
.text-area {
    text-area-background: #3B4148 ;
    -fx-background-color: #3B4148 ;
    -fx-background-radius: 0px;
    -fx-prompt-text-fill: #ADADAD;
    -fx-text-fill: #FFFFFF;
}
.text-area .content {
    -fx-background-color: text-area-background ;
    -fx-background-radius: 0px;
}
/*Tabela*/
.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #ADADAD;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}
/*Combo Box*/
.combo-box .list-cell 
{
-fx-background: #3B4148;
-fx-background-color: #3B4148;
-fx-text-fill: -fx-text-base-color;
-fx-text-fill: #ADADAD;
}
.combo-box-popup .list-view 
{
-fx-background-color: #3B4148, #3B4148;
-fx-background-insets: 0, 1;
-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}    

/*Estilização combobox*/
.combo-box {
    -fx-background-color: #3B4148;
    -fx-background-radius: 0px;
    -fx-text-fill: #C2C2C2;
}

.combo-box .list-cell {
    -fx-text-fill: #C2C2C2;
}

.combo-box .arrow{
    -fx-background-color: #C2C2C2;
}
