.root {
    -fx-font-family: system;
    -fx-font-size: 15px
}
.parent{
    -fx-background-color: #303138;
}

.close-btn{
    -fx-background-color: transparent;
}
.close-btn:hover{
    -fx-background-color: #E81123;
}

.min-btn{
    -fx-background-color: transparent;
}
.min-btn:hover{
    -fx-background-color: #171717;
}
.txtfield{
    -fx-background-color: #3B4148;
    -fx-background-radius: 0px;
    -fx-prompt-text-fill: #ADADAD;
    -fx-text-fill: #FFFFFF;
}
.txtfield:focused{
    -fx-background-color:  #292C34;
    -fx-background-radius: 0px;
    -fx-prompt-text-fill: #ADADAD;
    -fx-text-fill: #FFFFFF;
}
.login-btn{
    -fx-background-color: tomato;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 0px;
}

.date-picker-popup > .month-year-pane {
    -fx-padding: 0.588883em 0.5em 0.666667em 0.5em; /* 7 6 8 6 */
    -fx-background-color: derive(-fx-box-border,30%), 
        linear-gradient(to bottom, derive(-fx-base,-3%), 
                                   derive(-fx-base,5%) 50%, 
                                   derive(-fx-base,-3%));
    -fx-background-insets: 0 0 0 0, 0 0 1 0;
}

.cinza {
    -fx-text-fill: #C2C2C2;
}

/*ESTILIZAÇÃO DO MENU PRINCIPAL*/
.context-menu {
    -fx-background-color: #3B4148;
}
.menu-bar {
    -fx-background-color: #303138;
}
.menu:hover {
    -fx-background-color: #3B4148;
}
.menu:showing, .menu-item.showing {
    -fx-background-color: #3B4148;
}
.menu-item:focused{
    -fx-background-color: #303138;
}
.menu-bar .label {
    -fx-text-fill: #c2c2c2;
}
.menu-icons {
    -fx-text-fill: red;
    -fx-background-color: red;
}
